/*CSS Reset*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Lato', 'FontAwesome', sans-serif;
  padding-right:0px !important;
  margin-right:0px !important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
input, button, submit { border:none;}
input[type="text"], input[type="submit"]{-webkit-appearance: none; -moz-appearance: none; appearance: none;};
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:!important none ;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a, a:hover, a:active, a:visited{
  text-decoration: none;
}

.wrapper{
  padding: 0 20px;
}

.row {
  width: 100%;
}

.col {
  float:left;
}

.button{
  height: 40px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
  white-space: nowrap;
  padding-top: 12px;

  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.button-small{
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
  white-space: nowrap;
  color: #ff5a62;
  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.button-small:hover {
  color: #ff848a;
  -webkit-transition: border 200ms ease;
  -ms-transition: border 200ms ease;
  transition: border 200ms ease;
}

.button-fat{
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
  white-space: nowrap;
  padding-top: 15px;

  -webkit-transition: border 200ms ease;
  -ms-transition: border 200ms ease;
  transition: border 200ms ease;
}

.button-round{
  margin: 0 auto;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
  white-space: nowrap;

  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.button-round:hover {
  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.button:hover {
  -webkit-transition: border 200ms ease;
  -ms-transition: border 200ms ease;
  transition: border 200ms ease;
}

.button-fat:hover{
  -webkit-transition: 200ms ease;
  -ms-transition: 200ms ease;
  transition: 200ms ease;
}

.btn-white{
  background-color:#efefef;
  border: 1px solid white;
  /*color:#212121;*/
  color: #ff5a62;

  -webkit-transition: 200ms ease;
  -ms-transition: 200ms ease;
  transition: 200ms ease;
}

.btn-white:hover{
  background-color:white;
  border: 1px solid white;
  color: #ff848a;
}

.btn-red{
  background-color:#ff5a62;
  border: transparent;
  /*color:#212121;*/
  color: white;

  -webkit-transition: 200ms ease;
  -ms-transition: 200ms ease;
  transition: 200ms ease;
}

.btn-red:hover{
  background-color:#ff848a;
}


.loader {
  z-index: 1;
  margin:50px auto;
  border: 10px solid #eee;
  border-radius: 50%;
  border-top: 10px solid #ff7c7c;;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s ease infinite;
  animation: spin 0.5s ease infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.navigation{
  width:100%;
  background-color: #191919;
  position:fixed;
  top:0;
  left:0;
  height:60px;
  padding: 0 20px;
  z-index:10;
}

.nav-logo{
  height:16px;
  margin-top:22px;
}

.searchbar{
  width:100%;
  height:60px;
  background-color: white;
  margin-top:60px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  padding:0 20px;
}

.input{
  height:40px;
  border: 1px solid #efefef;
  border-radius: 20px;
  margin-top:10px;
  padding: 10px;
  outline:none !important;

  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.search-input{
  float:right;
  z-index: 1;

}

.input:focus{
  border: 1px solid #ff5a62;
}

.search-submit{
  float:right;
  margin: 10px;
  height:40px;
  width:40px;
  background-color: transparent;
  border: 1px solid #efefef;
  outline:none !important;
  color:#191919;
  padding-top:2px;
  font-size:20px;
  z-index: 1;

  -webkit-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  transition: border 400ms ease;
}

.search-submit:focus,.search-submit:hover{
  border: 1px solid #ff5a62;
  background-color: #ff5a62;
  color:white;
}


.banner{
  height: 150px;
  width:100%;
  background: url("../img/background.svg") no-repeat center center;
  background-color: #efefef;
  background-size: cover;
  text-align: center;
  padding-top:54px;
}

.banner-title{
  font-size:40px;
  color:white;
  font-weight: 700;
}
