/* Outer */
.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
max-width:300px;
width:50%;
padding:40px;
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow:0px 2px 6px rgba(0,0,0,1);
border-radius:3px;
background:#fff;
text-align: center;

}
/* Close Button */
.popup-close {
width:30px;
height:30px;
display:inline-block;
position:absolute;
top:12px;
right:8px;
transition:ease 0.25s all;
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#efefef;
text-decoration:none;
}
.popup-close:hover {
text-decoration:none;
color:#191919;

}

.popup-text{
  font-size:20px;
  font-weight: 700;
}

.popup-smalltext{
  margin-top:12px;
  font-size:14px;
  line-height: 1.5;
}
